* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
}

.login-register-container {
  display: flex;
  height: 100vh;
}

.form-logo-section {
  width: 50%;
  background: linear-gradient(to right, #002F69 25%, #376EAE 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-logo {
  height: auto;
  width: 200px;
    position: center;
    cursor: pointer;
  }

.form-section {
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 66%;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  color: #666;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '▼';
  font-size: 1rem;
  top: 50%;
  right: 1rem;
  position: absolute;
  transform: translateY(-50%);
  pointer-events: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  width: 100%;
  padding: 0.5rem;
  background-color: #F36326;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.35rem;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #cd4308;
}

.toggle-mode {
  margin-top: 1rem;
  text-align: center;
}

.toggle-button {
  background: none;
  border: none;
  color: #002F69;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.toggle-button:hover {
  text-decoration: underline; 
   background-color: #ffffff;
}