.newsboard-container {
  width: 100%;
  height: 15%;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 0px;
  padding-right: 20px;
  background: white;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.newsboard-text-container {
  width: 950px;
  height: 76px;
  position: relative;
}

.newsboard-title {
  position: absolute;
  left: 0;
  top: 0;
  color: #04336E;
  font-size: 40px;
  font-family: 'Mulish', sans-serif;
  font-weight: 750;
  word-wrap: break-word;
}

.newsboard-subtitle {
  position: absolute;
  left: 0;
  top: 52px;
  color: #ABAEB7;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.user-info {
  width: 225px;
  height: 64px;
  position: relative;
}

.user-avatar {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}

.user-details {
  width: 138px;
  height: 54px;
  position: absolute;
  left: 87px;
  top: 2px;
}

.user-name {
  position: absolute;
  left: 0;
  top: 0;
  color: #38393C;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.user-email {
  position: absolute;
  left: 0;
  top: 30px;
  color: #ABAEB7;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}
